*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Investigar*/
}
:root {
  --color-white: #ffffff;
  --color-black: #0e0e0e;
  --color-black-opasity: rgba(1,1,1,0.5);
  --fontSizePresentatioTitle: 8rem;
  --fontSizePresentatioSubTitle: 1.8rem;
}

html{
  font-size: 62.5%;
  /*Base 10 px, 1rem*/
}

body {
  font-family: system-ui;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  padding: 3rem 5rem;
  z-index: 1;
  background-color: var(--color-black-opasity) ;
  }

.logo{
  color: var(--color-white);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: 1.5s;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 3rem;
}

.nav__link {
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}

.header_down {
  background: var(--color-white);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header_hide {
  display: none;
}

.header_down .logo,
.header_down .nav__link {
  color: var(--color-black);
}

.backgroundImg{
  width: 100%;
  height: 100vh;
  background: url("imagenes/fondo-0.jpg");
  background-size: cover;
  background-position: center center;
  color: var(--color-white);
  display: grid;
  grid-template: repeat(6,1fr) /repeat(10,1fr);
}

.presentation1 {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

.presentation2 {
  grid-column: 10 / 11;
  grid-row: 2 / 5;
  writing-mode: vertical-lr;
  display: grid;
  align-items: center;
  font-size: var(--fontSizePresentatioSubTitle);
  font-weight: 400;
}

.presentation3 {
  background-color: var(--color-white);
  grid-column: 1 / 10;
  grid-row: 5 / 7;
  color: var(--color-black);
  display: flex;
  /* Ese espacio en blanco ocupa 1/9 parte que es el 11.11% */
  padding-left: 11.11%;
}

.presentation1__div{
  background:var(--color-white);
  height: 44px;
  border: 1px solid var(--color-white);
 /*  box-shadow: black; */
  border-radius: 24px;
  max-width: 350px;
  color: var(--color-black); 
}

.pre1__div__span {
    justify-content: space-between;
 }


.presentation1__p1 {
  font-size: var(--fontSizePresentatioTitle);
  font-weight: bold;
  margin-bottom: 20px;
}

.presentation1__p2 {
  /* word-spacing:2px; */
  font-weight: bold;
  font-size: var(--fontSizePresentatioSubTitle);
}

.pre3__articles {
  width: 100% ;
  align-self: center;
}

.pre3__art__p1 {
  margin-bottom: 20px;
 font-weight: bold;
}

.pre3__art__p2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.pre3__art__p3 {
   font-size: var(--fontSizePresentatioSubTitle);
   /* color: #a7a7a7; */
}

.pre3__articles:hover {
  color: green;
}

.container {
  padding: 10rem;
  width: 100%;
}

.renovations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.renovations__container {
  height: 100vh;
}

.renovations__images {
  position: relative;
  width: 100%;
  height: 93%;
}


.renovations__before, .renovations__after {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width:100%;
}

.renovations__title {
  position: relative;
}

.renovations__before {
  clip-path: inset(0 50% 0 0);;
}

.renovation__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height:40px;
  border-radius: 100%;
  background: var(--color-white);
  left:50%;
  top: 50%;
  transform: translate(-20px,-20px);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.renovation__icon {
  width: 20px;
  height: 20px;
}
